@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #0f0f33;
  --white: #ffffff;
  --soft-beach: #fcf9f9;
  --text-black: #000d22;
  --boulder: #757575;
  --busy-berry: #c91757;
}
